@{
    ViewData["Title"] = "Home Page";
    ViewData["openStore"] = "menu-open";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Sonoda ManageMent</h1>
    <p>Learn about <a href="">sonoda software</a>.</p>
</div>
